/* You can add global styles to this file, and also import other style files */
:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--lightGray);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
